{% load static %}
<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">

      <title>Login form</title>
   </head>
   <body>
      <div class="login">
         <img src="{% static "accounts/img/login-bg.png" %}" alt="image" class="login__bg">

         <form action="" class="login__form" method="post">
             {% csrf_token %}
            <h1 class="login__title">REGISTER</h1>
            <div class="login__inputs">
                {{ form.errors }}
               <div class="login__box">
                  {{ form.username }}
                  <i class="ri-user-fill"></i>
               </div>

                <div class="login__box">
                  {{ form.email }}
                  <i class="ri-mail-fill"></i>
               </div>
                <hr>
               <div class="login__box">
                  {{ form.password1 }}
                  <i class="ri-lock-2-fill"></i>
               </div>

                <div class="login__box">
                  {{ form.password2 }}
                  <i class="ri-lock-2-fill"></i>
               </div>

            </div>

            <button type="submit" class="login__button">Register</button>
         </form>
      </div>
   </body>
</html>