{% load static %}
<header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

              <li class="nav-item {% if request.resolver_match.url_name == "home" %}active{% endif %}">

                <a class="nav-link" href="{% url "home:home" %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == "article_list" %}active{% endif %}">
                <a class="nav-link" href="{% url "blog:article_list" %}">All Articles</a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == "article-detail" %}active{% endif %}">
                <a class="nav-link" href="#">Article Details</a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == "contact_us" %}active{% endif %}">
                <a class="nav-link" href="{% url "blog:contact_us" %}">Contact Us</a>
              </li>
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                    <div class="d-flex">
                      {% if user.profile.image %}
                          <span class="mt-2"><img src="{{ user.profile.image.url }}" width="40px" height="40px" style="border-radius: 100%"></span>
                      {% else %}
                          <span class="mt-2"><img src="{% static "accounts/img/d_profile.png" %}" width="40px" height="40px" style="border-radius: 100%"></span>
                      {% endif %}
                        {% if request.user.first_name %}
                            <a class="nav-link" href="{% url "accounts:user_edit" %}"><span class="btn btn-outline-dark">{{ request.user.first_name}}</span></a>
                        {% else %}
                            <a class="nav-link" href="{% url "accounts:user_edit" %}"><span class="btn btn-outline-dark">{{ request.user.username }}</span></a>
                        {% endif %}
                            <a class="nav-link" href="{% url "accounts:logout" %}"><span class="badge badge-danger mt-2">Log out</span></a>
                    </div>
                    {% else %}
                        <div class="d-flex">
                            <a class="btn btn-outline-success" href="{% url "accounts:login" %}" id="login"><span class="nav-link">Login</span></a><span class="mt-3">/</span>
                            <a class="btn btn-outline-warning" href="{% url "accounts:register" %}" id="login"><span class="nav-link">Register</span></a>
                        </div>

                    {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>